<div class="card-body">
    {{#each this.category}}
        <div class="form-group border-bottom">
            <!-- Sử dụng form POST để gửi yêu cầu di chuyển bài viết đến chuyên mục -->
            <form action="/admin/posts/move/{{PID}}/tocat/{{CID}}" method="POST">
                <button type="submit" class="btn btn-link text-dark"><strong>{{CName}}</strong></button>
            </form>
        </div>
        {{#each subcategories}}
        <div class="form-group">
            <!-- Sử dụng form POST để gửi yêu cầu di chuyển bài viết đến phân loại con -->
            <form action="/admin/posts/move/{{PID}}/tosub/{{SCID}}" method="POST">
                <button type="submit" class="btn btn-link text-dark">{{SCName}}</button>
            </form>
        </div>
        {{/each}}
    {{/each}}
</div>