<div class="card">
  <div class="card-header text-success">
    <p>Kiểm duyệt bài <a class="text-success" href="/admin/posts/{{this.post.PostID}}">
      <strong>{{this.post.PostTitle}}</strong></a></p>
    Chuyên mục hiện tại: 
    <strong><a href="/admin/posts/cat/{{this.cate_post.CID}}" class="text-success">
      {{this.cate_post.CName}}</a></strong> /    
    <strong><a href="/admin/posts/subcat/{{this.sub_post.SCID}}" class="text-success">
      {{this.sub_post.SCName}}</a></strong>
  </div>
  <div class="card-body">
    <form method="POST" action="/admin/posts/status/{{this.post.PostID}}">
      <div class="form-group">
        <label>
          <input type="radio" name="Duyet" value="1"> Từ chối
        </label>
        <input type="text" name="Reason" placeholder="Lý do từ chối" class="form-control">
      </div>
      <div class="form-group">
        <label>
          <input type="radio" name="Duyet" value="2"> Chờ Xuất bản
        </label>
      </div>
      <div class="form-group">
        <label>
          <input type="radio" name="Duyet" value="3"> Xuất bản
        </label>
        <input type="datetime-local" name="TimePublic" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Lưu</button>
    </form>
  </div>
</div>
